*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-lg {
  width: 75rem;
  margin: auto;
}

:root {
  /*    <-- colori --> */
  --color-primary: #0086fa;
  --color-secondary: #5b5d6f;
}

.footer__top {
  padding: 40px 0;
  background-color: var(--color-primary);
}

.footer__top ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.footer__top .card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer__top .card a {
  font-size: 0.8rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.footer__top .card img {
  width: 3rem;
}

.footer__mid {
  background-image: url(/images/footer-bg.jpg?dfd68d2946f211e1b678af05fd2f830b);
  background-position: center;
  background-size: cover;
}

.footer__mid .container-lg {
  width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__mid .footer__mid--main {
  flex-grow: 1;
  padding: 50px 0;
  background-image: url(/images/dc-logo-bg.png?f4404ce9dc132a08a47f19e3f73f1417);
  background-position: center right;
  background-repeat: no-repeat;
  display: flex;
  gap: 2rem;
}

.footer__mid .footer__mid--main h3 {
  color: white;
  padding: 15px 0;
  text-transform: uppercase;
}

.footer__mid .footer__mid--main ul {
  list-style: none;
}

.footer__mid .footer__mid--main ul a {
  display: inline-block;
  padding: 5px 0;
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--color-secondary);
}

.footer__mid p {
  width: 50%;
  color: var(--color-secondary);
  font-size: 0.8rem;
  padding-bottom: 1rem;
}

.footer__mid p span {
  color: var(--color-primary);
}

.footer__bot {
  background-color: #333333;
  padding: 40px 0;
}

.footer__bot .container-lg {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__bot .footer__bot--right {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  color: #0078cf;
  text-transform: uppercase;
}

.footer__bot .footer__bot--left a {
  color: white;
  padding: 8px 10px;
  border: 2px solid var(--color-primary);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

header .header__top {
  background-color: var(--color-primary);
  padding: 0.25rem 0;
  text-align: right;
  color: white;
}

header .header__bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header__bot ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

header .header__bot a {
  text-decoration: none;
  color: var(--color-secondary);
  text-transform: uppercase;
  display: inline-block;
  padding: 40px 10px;
}

header .header__bot a.active {
  color: var(--color-primary);
  border-bottom: 4px solid var(--color-primary);
}

header .header__bot img {
  width: 5rem;
}

header .header__bot nav {
  display: flex;
  align-items: center;
}

header .header__bot input {
  border: none;
  border-bottom: 2px solid var(--color-primary);
}

header .header__bot input::-moz-placeholder {
  text-align: right;
}

header .header__bot input::placeholder {
  text-align: right;
}

.hero img {
  display: block;
  height: 350px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}

.shop-library .container-lg {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

.shop-library .container-lg ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.shop-library .container-lg li {
  margin: 1rem;
  width: calc(16.6666666667% - 2rem);
}

.shop-library .container-lg li a {
  background-color: transparent;
  padding: 0;
}

.shop-library .container-lg a {
  margin-top: 2rem;
  display: inline-block;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  background-color: var(--color-primary);
  padding: 1rem 4rem;
}

.shop-library .container-lg h2 {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  background-color: var(--color-primary);
  padding: 1rem 3rem;
  text-transform: uppercase;
}

.shop-library {
  background: #1c1c1c;
}

.card img {
  width: 100%;
}

.card h3 {
  color: white;
  padding-top: 0.7rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.hero-product .comic-info__top {
  margin: 60px auto;
  font-family: sans-serif;
}

.hero-product .comic-info__top h2 {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #003f5e;
}

.hero-product .comic-info__top .price {
  background-color: #55ba59;
  display: flex;
  justify-content: space-between;
}

.hero-product .comic-info__top .price__left {
  padding: 20px 10px;
  color: #bafd93;
}

.hero-product .comic-info__top .price__left span {
  color: white;
}

.hero-product .comic-info__top .price__right {
  padding: 20px 10px;
  border-left: 1px solid black;
  background: transparent;
}

.hero-product .comic-info__top .price__right select {
  background-color: transparent;
  color: white;
  border: none;
  font-weight: bold;
}

.hero-product .comic-info__top p {
  margin-top: 20px;
  line-height: 1.5rem;
}

.hero-product .comic-info__bottom {
  border-top: 1px solid gray;
  font-family: sans-serif;
  padding-bottom: 120px;
}

.hero-product .comic-info__bottom .boh {
  display: flex;
  gap: 40px;
}

.hero-product .comic-info__bottom .boh > * {
  width: 50%;
}

.hero-product .comic-info__bottom h3 {
  font-size: 20px;
  padding: 40px 0;
}

.hero-product .comic-info__bottom ul {
  list-style: none;
}

.hero-product .comic-info__bottom li {
  border-top: 1px solid lightgray;
  display: flex;
  padding: 20px 0;
}

.hero-product .comic-info__bottom li:last-child {
  border-bottom: 1px solid lightgray;
}

.hero-product .comic-info__bottom li span {
  width: 30%;
}

.hero-product .comic-info__bottom li p {
  color: var(--color-primary);
  width: 70%;
}

.hero-product .comic-info__bottom .specs li:first-child span:last-child {
  color: var(--color-primary);
}

